take,exam,category,topic
"0","LPIC-101","System Architecture","Determine and configure hardware settings"
"0","LPIC-101","System Architecture","Boot the system"
"0","LPIC-101","System Architecture","Change runlevels and shutdown or reboot system"
"0","LPIC-101","Linux Installation and Package Management","Design hard disk layout"
"0","LPIC-101","Linux Installation and Package Management","Install a boot manager"
"0","LPIC-101","Linux Installation and Package Management","Manage shared libraries"
"0","LPIC-101","Linux Installation and Package Management","Use Debian, Red Hat, and other package management systems"
"0","LPIC-101","GNU and Unix Commands","Work on the command line"
"0","LPIC-101","GNU and Unix Commands","Process text streams using filters"
"0","LPIC-101","GNU and Unix Commands","Perform basic file management"
"0","LPIC-101","GNU and Unix Commands","Use streams, pipes, and redirects"
"0","LPIC-101","GNU and Unix Commands","Create, monitor, and kill processes"
"0","LPIC-101","GNU and Unix Commands","Modify process execution priorities"
"0","LPIC-101","GNU and Unix Commands","Search text files using regular expressions"
"0","LPIC-101","GNU and Unix Commands","Perform basic file editing operations using vi"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Create partitions and filesystems"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Maintain the integrity of filesystems"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Control mounting and unmounting of filesystems"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Manage disk quotas"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Manage file permissions and ownership"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Create and change hard and symbolic links"
"0","LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Find system files and place files in the correct location"
"0","LPIC-102","Shells, Scripting and Data Management","Customize and use the shell environment"
"0","LPIC-102","Shells, Scripting and Data Management","Customize or write simple scripts"
"0","LPIC-102","Shells, Scripting and Data Management","SQL data management"
"0","LPIC-102","User Interfaces and Desktops","Install and configure X11"
"0","LPIC-102","User Interfaces and Desktops","Setup a display manager"
"0","LPIC-102","User Interfaces and Desktops","Accessibility"
"0","LPIC-102","Administrative Tasks","Manage user and group accounts and related system files"
"0","LPIC-102","Administrative Tasks","Automate system administration tasks by scheduling jobs"
"0","LPIC-102","Administrative Tasks","Localisation and internationalisation"
"0","LPIC-102","Essential System Services","Maintain system time"
"0","LPIC-102","Essential System Services","System logging"
"0","LPIC-102","Essential System Services","Mail Transfer Agent (MTA) basics"
"0","LPIC-102","Essential System Services","Manage printers and printing"
"0","LPIC-102","Networking Fundamentals","Fundamentals of internet protocols"
"0","LPIC-102","Networking Fundamentals","Basic network configuration"
"0","LPIC-102","Networking Fundamentals","Basic network troubleshooting"
"0","LPIC-102","Networking Fundamentals","Configure client-side DNS"
"0","LPIC-102","Security","Perform security administration tasks"
"0","LPIC-102","Security","Setup host security"
"0","LPIC-102","Security","Securing data with encryption"