exam,category,topic
"LPIC-101","GNU and Unix Commands","Create, monitor, and kill processes"
"LPIC-101","GNU and Unix Commands","Search text files using regular expressions"
"LPIC-101","GNU and Unix Commands","Perform basic file editing operations using vi"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Create partitions and filesystems"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Maintain the integrity of filesystems"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Control mounting and unmounting of filesystems"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Manage disk quotas"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Manage file permissions and ownership"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Create and change hard and symbolic links"
"LPIC-101","Devices, Linux Filesystems, Filesystem Hierarchy Standard","Find system files and place files in the correct location"
"LPIC-102","Shells, Scripting and Data Management","Customize and use the shell environment"
"LPIC-102","Shells, Scripting and Data Management","Customize or write simple scripts"
"LPIC-102","Shells, Scripting and Data Management","SQL data management"
"LPIC-102","User Interfaces and Desktops","Install and configure X11"
"LPIC-102","User Interfaces and Desktops","Setup a display manager"
"LPIC-102","User Interfaces and Desktops","Accessibility"
"LPIC-102","Administrative Tasks","Manage user and group accounts and related system files"
"LPIC-102","Administrative Tasks","Automate system administration tasks by scheduling jobs"
"LPIC-102","Administrative Tasks","Localisation and internationalisation"
"LPIC-102","Essential System Services","Maintain system time"
"LPIC-102","Essential System Services","System logging"
"LPIC-102","Essential System Services","Mail Transfer Agent (MTA) basics"
"LPIC-102","Essential System Services","Manage printers and printing"
"LPIC-102","Networking Fundamentals","Fundamentals of internet protocols"
"LPIC-102","Networking Fundamentals","Basic network configuration"
"LPIC-102","Networking Fundamentals","Basic network troubleshooting"
"LPIC-102","Networking Fundamentals","Configure client-side DNS"
"LPIC-102","Security","Perform security administration tasks"
"LPIC-102","Security","Setup host security"
"LPIC-102","Security","Securing data with encryption"